<%= form_with url: display_chart_path, method: :get do |form| %>
<%= select(:search_word, "id", @categories.collect {|category| [ category.category_name, category.id ]}) %>
<%= form.submit "Search" %>
<% end %>

<%= form_with url: display_chart_path, method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.label :days_no, "number of prev days:" %>
  <%= form.text_field :days_no %>
  <%= form.submit "Search" %>
<% end %>


<%= paginate @current_news %>
<table class="table mt-3">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Category</th>
    <th>Details</th>
    <th>Published</th>
  </tr>

<% for news in @current_news %>
  <tr>
    <td class="news_current_column_width"><span><%= news.id_news %></span></td>
    <td class="news_current_column_width"><span><%= news.title %></span></td>
    <td class="news_current_column_width"><%= news.author %></td>
    <td class="news_current_column_width"><%= news.language %></td>
    <td class="news_current_column_width"><%= @categories_hash[news.category_id] %></td> 
    <td class="news_current_column_width"><%= link_to 'more details', news.url %></td>
    <td class="news_current_column_width"><%= news.published %></td>
  </tr>
<% end %>