<%= paginate @current_news %>
<table class="table mt-3">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Details</th>
    <th>Image</th>
    <th>Category</th>
    <th>Published</th>
  </tr>

<% for news in @current_news %>
  <tr>
    <td><%= news.title %></td>
    <td><%= news.author %></td>
    <td><%= news.language %></td>
    <td><%= link_to 'more details', news.url %></td>
    <td><%= news.image != "None" ? image_tag(news.image, size: "50x50") : "None" %></td>
    <td><%= Category.find(news.category_id).category_name %></td>
    <td><%= news.published %></td>
  </tr>
<% end %>
</table>
