<%= paginate @current_news %>
<table class="table mt-3">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Language</th>
    <th>Category</th>
    <th>Details</th>
    <th>Published</th>
  </tr>

<% for news in @current_news %>
  <tr>
    <td class="news_current_column_width"><span><%= news.id_news %></span></td>
    <td class="news_current_column_width"><span><%= news.title %></span></td>
    <td class="news_current_column_width"><%= news.author %></td>
    <td class="news_current_column_width"><%= news.category.category_name %></td> 
    <td class="news_current_column_width"><%= link_to 'more details', news.url %></td>
    <td class="news_current_column_width"><%= news.published %></td>
  </tr>
<% end %>