
<%= form_with url: current_news_path, method: :get do |form| %>
<%= form.label :published_date, "Current news in:" %>
<%= date_select('published', 'date', :published_date => [:month, :day, :year])%></br></br>
<%= form.label :category, "Current news That its Category:" %>
<%= select(:category, "id", @categories.collect {|category| [ category.category_name, category.id ]}) %></br></br>
<%= form.submit "Search", class: "btn btn-success" %>
<% end %>

<%= link_to 'Go to chart', display_chart_path, class: "btn btn-info"%>


 <%= paginate @current_news %> 

<table class="table mt-3">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Details</th>
    <th>Published</th>
  </tr>

<% for news in @current_news %>
  <tr>
    <td class="news_current_column_width"><span><%= news.title %></span></td>
    <td class="news_current_column_width"><%= news.author %></td>
    <td class="news_current_column_width"><%= @categories_hash[news.category_id] %></td> 
    <td class="news_current_column_width"><%= link_to 'more details', news.url %></td>
    <td class="news_current_column_width"><%= news.published %></td>
  </tr>
<% end %>
