
  <h1>View for ALL categories through published</h1>
  <%= line_chart @all_current_news_by_published_date%>

<% if @search_word.present? %>
  <h1>Trend Chart for <%= @search_word %></h1>
  <%= line_chart @trend_chart%>
<% end %>

<% if @name_for_searching_category.present? %>

  <h1>View for "<%= @name_for_searching_category%>" category through entire time</h1>
  <%= line_chart @data_for_category_entire_time%>

  <h1>View 7 deys prev for "<%= @name_for_searching_category%>"</h1>
  <%= line_chart @data_for_category_prev_week, colors: ["#b00", "#666"] %>
<% end %>
<%= link_to 'back', current_news_path, class: "btn btn-info"%>