<%= link_to 'Back to Latest News', current_news_path, class: "btn btn-info m-4 d-block"%>

<%= form_with url: display_chart_path, class: "m-4 d-block border border-info p-3", method: :get do |form| %>
<h1>TRENDING</h1>
<%= form.label :trend_text, "Search for:" %>
<%= form.text_field :trend_text, required: true, class: "m-4" %>
<%= form.label :days_no, "number of prev days:" %>
<%= form.text_field :days_no, required: true, class: "m-4" %>
<%= form.submit "Search", class: "btn btn-success" %>
<% end %>

<% if @show_trend_chart %>
  <h1>Trend "<%= @search_word %>"</h1>
  <%= column_chart @trend_data,
   colors: ["#b00", "#666", "#aa1", "#ff3"]%>
<% end %>

<%= line_chart @categories.map {|category|
 {name: category.category_name,
  data: category.current_news.group_by_day(:published).count,
  title: "Current News categories group"}
}%>

<%= pie_chart @current_news_by_published,
title: "Current News published group", download: true%>



