<h1>View all category</h1>
<%= line_chart @all_category_count%>

<h1>View by published</h1>
<%= line_chart @all_current_news_by_published_date%>

<h1>View 7 deys prev search category</h1>
<%= line_chart @search_results_seven_days, colors: ["#b00", "#666"] %>
<table class="table">
<tr>
<th>Days</th>
</tr>
<% for count in @search_results_seven_days %>
<tr>
<td><%= count %></td>
</tr>
<% end %> 
</table>

<%= link_to 'back', current_news_path, class: "btn btn-info"%>